$textColor1: #2200AA;
@mixin opacity {
  &:before {
    content: "";
    position: absolute;
    background-color: #0083BB;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
  }
}
$heightSlider: 532px;  
body {
  margin: 0px;
  background: url("../images/Snow.svg");
  .bestProducts {
    margin-top: 25px;
    text-align: center;
    font-size: 32px;
    color: white;
  }
  .svg {
    display: flex;
    justify-content: center;
  }
  .conteiner5 {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: calc(100% - 20px);
    height: auto;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    padding: 30px 20px 0 0;
    margin-left: 20px;
    .text {
        order: 1;
        position: relative;
        width: 350px;
        height: auto;
        box-sizing: border-box;
        padding: 10px 0 10px 20px;
        line-height: 6px;
        p {
          position: relative;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: white;
            font-size: 16px;
        }
        .bold {
          font-weight: bold ;
        }
        .light {
          font-style: italic;
        }
        @include opacity;
        &:before {
          border-radius: 50px;
      }
    }
    iframe {
      order: 2;
    }
    @media (max-width: 1200px) {
      iframe {
        width: 58vw;
        height: 58vw;
      }
    }
    @media (max-width: 1000px) {
        flex-flow: column;
      .text {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: flex-start;
        align-self: center;
        order: 2;
        width: 95%;
        .div1, .div2 {
          p {
            line-height: normal;
            margin: 5px;
            overflow-wrap: break-word;
          }
          height: auto;
          width: 50%;
          display: flex;
          flex-flow: column;
        }
      }
      iframe {
        align-self: center;
        order: 1;
        margin-bottom: 20px;
        width: 90vw;
        height: 90vw;
      }
    }
  }
}