body {
  overflow-x: hidden;
  margin: 0px;
  background: url("../images/Snow.svg");
}
body .product {
  display: none;
  z-index: 4;
}
body .product.open {
  display: flex;
  position: fixed;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100% !important;
}
body .product.open::before {
  content: "";
  position: absolute;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 4;
}
body .product.open * {
  z-index: 5;
}
body .product.open .conteiner {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 1000px;
  height: auto;
  background-color: #0083BB;
  border-radius: 50px;
}
body .product.open .conteiner img {
  margin: 20px 0 20px 0;
}
body .product.open .conteiner .vert {
  display: flex;
  flex-flow: column;
  width: 40%;
}
body .product.open .conteiner .vert h2, body .product.open .conteiner .vert h3 {
  color: white;
  align-self: center;
  width: auto;
  text-align: center;
}
body .product.open .conteiner .vert h3 {
  width: 90%;
  height: auto;
  box-sizing: border-box;
  padding: 20px 0 20px 0;
  background-color: #E46044;
  border-radius: 50px;
}
@media (max-width: 850px) {
  body .product.open {
    height: auto;
  }
  body .product.open .conteiner {
    flex-flow: column;
    align-items: center;
    width: 80%;
  }
  body .product.open .conteiner img {
    height: auto;
    width: 90%;
  }
  body .product.open .conteiner .vert {
    width: 100%;
  }
}
body .slider {
  color: white;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 40vw;
}
body .slider .div1 {
  width: 66%;
  height: 100%;
}
body .slider .div1 img {
  width: 100%;
  height: 100%;
}
body .slider .div2 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 34%;
  height: 100%;
}
body .slider .div2:before {
  content: "";
  position: absolute;
  background-color: #0083BB;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}
body .slider .div2 .text3 {
  font-size: 2vw;
  text-align: center;
  line-height: 45px;
  position: absolute;
}
@media (max-width: 750px) {
  body .slider {
    flex-flow: column;
  }
  body .slider .div1 {
    width: 100%;
    height: 60vw;
  }
  body .slider .div2 {
    width: 100%;
    height: 100px;
  }
  body .slider .div2 .text3 {
    font-size: 16px;
  }
}
@media (max-width: 750px) {
  body .slider {
    height: auto;
  }
  body .slider .text3 {
    line-height: normal !important;
  }
}
body .bestProducts {
  margin-top: 20px;
  text-align: center;
  font-size: 32px;
  color: white;
}
body .svg {
  display: flex;
  justify-content: center;
}
body .products {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 900px;
  margin: 50px 0 50px 0;
  box-sizing: border-box;
  padding: 0 3% 0 3%;
}
body .products .row {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 415px;
  box-sizing: border-box;
}
body .products .row .element {
  display: flex;
  flex-flow: column;
  width: 230px;
  height: 415px;
  background-color: white;
  color: #2200AA;
  border: none;
  outline: solid 8px #227C76;
  padding: 10px 0 0 10px;
}
body .products .row .element .name {
  width: 100%;
  height: 82px;
}
body .products .row .element .discount {
  position: relative;
  font-size: 20px;
  width: 80px;
  height: 25px;
  color: white;
  background: #3B7DCB;
  border-radius: 30px;
  margin: 10px 0 0 20px;
  text-align: center;
}
body .products .row .element .price {
  font-size: 20px;
  padding-left: 58px;
  width: 80px;
  height: 25px;
  color: black;
  text-decoration: line-through;
}
body .products .row .element .discountPrice {
  font-size: 30px;
  padding-left: 20px;
  width: 80px;
  height: 40px;
  color: #3300FF;
}
@media (max-width: 1100px) {
  body .products .row .element:last-child {
    display: none;
  }
}
@media (max-width: 750px) {
  body .products .row .element:nth-child(3) {
    display: none;
  }
}
@media (max-width: 500px) {
  body .products .row .element:nth-child(2) {
    display: none;
  }
}
@media (max-width: 800px) {
  body .products {
    padding: 0 0 0 0;
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  width: 232px;
  height: 82px;
  margin: 0 40px 40px auto;
}
.button:before {
  content: "";
  position: absolute;
  background-color: #0083BB;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}
.button:before {
  border-radius: 50px;
}
.button .text {
  width: 100%;
  align-self: center;
  position: absolute;
  color: white;
  text-align: center;
}